*{
    background-color: rgb(255, 255, 255);
   
}
.ac_footer{
    margin-top: 20px;
    text-align: center;
    
}
.b-selectbox{
    width: 400px;
    margin: auto;
 
}
.text{
    width: 400px;
    margin: auto;
   
}
button{
    width: 400px;
    background-color: rgb(187, 187, 187);
}