body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #E4E4E4;
}

.site {
    width: 100vw !important;
    max-width: 425px;
}

.form {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.form.top {
    position: absolute;
}

.form.bottom {
    position: absolute;
}

.form [type="text"] {
    border-radius: 20px;
    padding: 12px 24px;
    background: #efefef;
    border: 1px solid #dddcdc;
    margin-top: 6px;
}

.form [type="submit"] {
    border-radius: 20px;
    padding: 12px 24px;
    background: #a1e5a1;
    border: 1px solid #dddcdc;
    margin-top: 6px;
    width: 100%;
}

.form [type="submit"]:hover {
    background: #86c286;
}


@media (max-width:320px) {
    .form [type="text"] {
        padding: 6px 12px;
    }

    .form [type="submit"] {
        padding: 6px 12px;
    }

    .form.top {
        top: 612px;
    }
}

@media (min-width:321px) and (max-width:375px) {
    .form.top {
        top: 725px;
    }
}

@media (min-width:376px) {
    .form.top {
        top: 825px;
    }
}

@media (max-width:320px) {
    .form.bottom {
        top: 9815px;
    }
}

@media (min-width:321px) and (max-width:375px) {
    .form.bottom {
        top: 11508px;
    }
}

@media (min-width:376px) {
    .form.bottom {
        top: 13058px;
    }
}